<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Import JS Example</title>
</head>
<body>

    <!-- Searchs for the items -->


    <form id="texts" action="/" name="textsf" method="POST">

        <!--        <label for="searchf">Search for it</label> 
        <input type="checkbox" id="radiox" name="radioxi" /> -->

        <input list="datalistbox" id="text3" name="text3i">
        <datalist id="datalistbox"></datalist>




        <button type="submit">Show</button>
        <br/>

    <!-- Displays if it exists-->



    <div class="n" id="divv" style="display: none;">
        <br/>
        <img id="imgll" height=100 width=80/>
        <br/><label id="imglltext">name</label></br><br/>
        <img id="imglmap" height=180 width=180/><br/>
        <label id="imgllroad">road</label><br/><br/>
        <a id="addtxtb" style="display: none;">birdname</a>
        <a href="" id="dltitem">DELETE</a>
    </div>



    </form>


    <!-- Choose the template of a map or create it by typing cities -->

    <form id="cityf" action="/" name="cityff" style="display: none;" method="POST">
        <label for="selectf">Select an area or type it</label>
        </br>
        <select id="selectf" name="selectff" onchange="areasel(this.value)">
            <option value="">Select a regionn</option>
            <option value="Europe">Europe</option>
            <option value="Asia">Asia</option>
        </select>

        <div id="Europe" style="display: none;" button="a">
            <select id="selectfe" name="selectffe" onchange="areasel(this.value)">
                <option value="Southwestern">Southwestern</option>
                <option value="Northeastern">Northeastern</option>
            </select>
        </div>

        <div id="Asia" style="display: none;" button="a">    
            <select id="selectfa" name="selectffa" onchange="areasel(this.value)">
                <option value="Southwestern">Southwestern</option>
                <option value="Northeastern">Northeastern</option>
            </select>
        </div>

        </br>
        </br>
        <input type="text" id="textcityf" name="textcityff">
        <button type="submit">D</button>
        </br>
        <span id="inftext" style="color: black;" ><i>City1, City2, City3</i></span>
    </form>




    <!-- Uploading the image and maps to the s3 bucket -->

    
    <form id="f" action="/files" name="ff" style="display: none;" method="POST" enctype="multipart/form-data">

        <div id="imgupl" name="imgupld" style="display: none;" button="b">
            <input type="file" id="filef" name="fileff">


            <button type="submit">C</button>

        </div>



        <!-- Edit the map with choosing the cities -->

        <div id="imgmap" name="imgmapd" style="display: none;" button="b">
            <input type="text" id="textf2" list="datalistbox2" name="textt2" placeholder="Enter">
            <datalist id="datalistbox2"></datalist>

            <img id="imgl" height=400/>
            <img id="imgleft" src="static/images/imgleft.png" onclick="moveit('left')" height=32/>
            <img id="imgright" src="static/images/imgright.png" onclick="moveit('right')" height=32/>
            <img id="imgsel" src="static/images/imgsel.png" onclick="selcity(this)" height=32/> 
            <img id="imgdel" src="static/images/imgdel.png" onclick="refrimg()" height=32/>
            <div id="divposs" name="divpossd">
            </div>
        </div>

         
        <br/><br/>
        <img id="imgprv" src="static/images/imgleft.png" onclick="nextprev('prev')" height=32/> 
        <img id="imgnext" src="static/images/imgright.png" onclick="nextprev('next')" height=32/> 




    </form>



    <!-----


<a href="https://www.flaticon.com/free-icons/reload" title="reload icons">Reload icons created by Freepik - Flaticon</a>

<a href="https://www.flaticon.com/free-icons/left-and-right-arrows" title="left and right arrows icons">Left and right arrows icons created by Md. Mukhlesur Rahaman - Flaticon</a>


<a href="https://www.flaticon.com/free-icons/ui" title="ui icons">Ui icons created by Md. Mukhlesur Rahaman - Flaticon</a>


<a href="https://www.flaticon.com/free-icons/select" title="select icons">Select icons created by Shashank Singh - Flaticon</a>


    ---->

    <script src="{{ url_for('static', filename='script.js') }}"></script>

	
</body>
</html>
